h2{
    color: chocolate;
}

.boxmodel {
    border: 5px solid red;
    display: inline-block;
    padding: 50px 40px 40px 50px;
    margin: 0px 20px ;
    width: 50px;
    height: 40px;

}

p{
    font-size: 10px;
}

span{
   font-size: 2em;
}